
<!--<div class="mat-action-row">-->
<!--<div style="border: 2px solid red; width:300px; height: 800px; overflow: auto">-->
<!--  <app-list></app-list>-->
<!--</div>-->
<div class="container">
  <a href="/search"><img class="image1"  src="https://img.icons8.com/bubbles/50/000000/back.png" ></a>
  <div class="row">
<div class="col-lg-2">


<!--    <img src="{{user.object.profileUrl}}" alt="Nothing" style="width:100px;height:100px">-->
<!--    <h3 style="margin-left:105px;margin-top:-60px;">{{user.object.name}}</h3>-->
<!--    <h6 style="margin-left:105px;margin-top:-55px;">@{{user.object.handler}}</h6>-->
    <img class="image" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="No Image Available" >
</div>
  <div class="col-lg-5" style="">
    <h3>Chinmay Hebbal</h3>
    <h5 style="color:gray">@chinmay4382</h5>
  </div>


</div>
  <div  >
   <b> Bio: </b>
    <p >
<!--      {{user.object.bio}}--> chinmay is a good boy
    </p>
  </div>


    <b>Works at </b>
    <p >
<!--      {{user.object.company}}--> Microsoft
    </p>



<div class="row">
  <div class="col-lg-2">
      Repositories:
      <br>
<!--      {{user.object.repos}}-->20
    </div>
  <div class="col-lg-4">
      Followers:
      <br>

<!--      {{user.object.followers}}-->20
    </div>

</div>



<!--</div>-->
</div>

