

<div class="container">
  <a href="/search"><img class="image1"  src="https://img.icons8.com/bubbles/50/000000/back.png" ></a>
  <div class="row">
<div class="col-lg-2">

    <img class="image" src="{{user.object.profileUrl}}" alt="No Image Available" >
</div>
  <div class="col-lg-5" style="">
    <h3>{{user.object.name}}</h3>
    <h5 style="color:gray">{{user.object.handler}}</h5>
  </div>


</div>
  <div  >
   <b> Bio: </b>
    <p >
      {{user.object.bio}}
  </div>


    <b>Works at </b>
    <p >
     {{user.object.company}}
    </p>



<div class="row">
  <div class="col-lg-2">
      Repositories:
      <br>
      {{user.object.repos}}
    </div>
  <div class="col-lg-4">
      Followers:
      <br>

      {{user.object.followers}}
    </div>

</div>



<!--</div>-->
</div>

